<aside>
    <form #f = "ngForm" (ngSubmit) = "onSubmit(f)">
    <select name = 'category' ngModel>
            <option *ngFor="let item of urlOptions"  [value]='item.category' [text]='item.category'>
                {{item.category}}
            </option>
    </select><br><br>
    <input name='number' [value] = 'selectedNumber' required type="number" min="1" max="5" step="1"  ngModel><br><br>
    <button type = "submit"> Submit </button>
    </form>
</aside>

