<aside>
    <h3>Name: {{infoModel.name}} </h3>
    <h3>Category: {{infoModel.type}} </h3>
    <h3 *ngIf = "result.type == 'people' ">Height: {{result.height}}</h3> 
    <h3 *ngIf = "result.type == 'people' ">Mass: {{result.mass}}</h3>
    <h3 *ngIf = "result.type == 'planets' ">Population: {{result.population}}</h3>
    <h3 *ngIf = "result.type == 'planets' ">Rotation period: {{result.rotation_period}}</h3>
    <h3 *ngIf = "result.type == 'species' ">Classification: {{result.classification}}</h3>
    <h3 *ngIf = "result.type == 'species' ">Designation: {{result.designation}}</h3>
    <h3 *ngIf = "result.type == 'films' "> Director: {{result.director}}</h3>
    <h3 *ngIf = "result.type == 'films' "> Producer: {{result.producer}}</h3>
    <h3 *ngIf = "result.type == 'vehicles' ">Model: {{result.model}}</h3>
    <h3 *ngIf = "result.type == 'starships' ">Model: {{result.model}}</h3>
    <h3 *ngIf = "result.type == 'starships' ">Manufacturer: {{result.manufacturer}}</h3>

</aside>


